<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="activityFeedContainer">
  <div class="main-section">
    <div class="row">
      <div class="large-12 columns">
        <h4>Devices</h4>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <div class="panel">
          <p><img src="/images/smartphone.png"> Elysse's Phone</p><h6 class="sub-name">Activity</h6><p>Today</p><a href="#" class="button">Unlink From Account</a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <p><img src="/images/laptop.png"> Elysse's MacBook Pro</p><h6 class="sub-name">Activity</h6><p>Today</p><a href="#" class="button">Unlink From Account</a>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <p><img src="/images/monitor.png"> Elysse's Computer</p><h6 class="sub-name">Activity</h6><p>Today</p><a href="#" class="button">Unlink From Account</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h4>Web Sessions</h4>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <form>    
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Don't store web sessions for my account</label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>3/17/14</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>3/15/14</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>2/07/14</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>2/01/14</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>1/07/14</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <h6 class="sub-name">Name</h6><p>Chrome on Mac OSx</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Location</h6><p>United States</p>
      </div>
      <div class="large-4 columns">
        <h6 class="sub-name">Activity</h6><p>1/01/14</p>
      </div>
      <hr>
    </div>

  </div>
</div>