/*
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

*/
@import "compass/css3";

@import "places-global-var";
@import "elements/_global";

$overlay-opacity:0.8;

$p-conversation-header-bg : #fff ;

.ansamber-name+.ansamber-name:before
{
	content: ", "
}


#chatArea{
	right: 200px;
	position:fixed;
	display:block;
	float: right;
	bottom: 0;
	z-index:11;
	height: 30px;
	.p-stack-div{
		border-radius: 5px;
		border: solid 1px $p-color-grey;
		background-color: white;
		height: 100%;
		width: 30px;
		display: none;
		float: left;
		text-align: center;
		position:relative;
		@include box-shadow(#444 0 0px 5px 0px);
	}
	.p-stack-icon{
		vertical-align: sub;
		display: inline-block;
		height: 100%;
	}
	.stackTag{
		background-color: $p-color-red;
		color: #fff;
		font-size: 8px;
		position: absolute;
		right: 2px;
		padding: 1px 3px 0px 3px;
		height: 10px;
		bottom: 2px;
	}
}
#stackedChatBoxes{
	display: block;
	float: left;
	width: 100%;
	.p-stacked-chat{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#chatStack-dropdown{
	box-shadow: 0px 1px 8px rgba(black, 0.5);
	border-radius:3px;
}

.conversation-div{
	bottom: 0;
	position: absolute;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	@include box-shadow($p-color-dark-grey 0 0px 12px 0px);
}
#chatBoxes{
	font-family : "opensans" ;
	direction:ltr;
	zoom:1;
	float: left;
	.conversation-div-inner{
		position:relative;
		float:right;
		width: auto;
		margin-left:10px;
		height: 30px;
		display:block;
		direction:ltr;
		width: 260px;
		&.stacked{
			display: none;
		}
		.dropOverlay {
			display: none;
			position: absolute;
			z-index: 12;
			width: 100%;
			height: 100%;
			padding: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.5);
			.notif {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				width: 50%;
				height: 20px;
				margin: auto;
				color: white;
			}
		}
		.info{
			font-size:0.8rem;
		}
		.module {
			font-family : $p-font-family-menu ;
			width: 260px;
			header.top-bar.has-new-content {
					-webkit-animation: blink_content 1s infinite;
				}
			header.top-bar {
				font-family : $p-font-family-menu ;
				border-left : 0px ;
				border-right : 0px ;
				border-top-right-radius:5px;
				border-top-left-radius:5px;
				height: 30px;
				line-height:inherit;
				background: $p-color-background-light;
				padding: 4px;
				position: relative;
				overflow: hidden;
				
				.p-ci {
					font-size: 18px;
					color : black ;
					padding-left : 14px ;
					&.disable{
						color: #b7b7b7;
						span:hover{
							color:#b7b7b7 !important;
						}
					}
					&.add-contact,&.visio-contact,&.audio-contact{
						color: $p-color-contact;
					}
					&.close-chat{
						color: $p-color-background-middle-dark;
					}
				}

				.ansambers {
					width: 109px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					display: inline-block;
					font-family : "opensans" ;
					font-size: 12px ;
					font-weight : normal ;
					color:$p-color-contact;
					margin-left:5px;
				}

				.left {
					float: right;
					// padding-right: 5px;
					line-height: 25px;
				}
				.right {
					float: right;
					padding-right: 5px;
					line-height: 25px;
				}
				> * {
					position: relative; 
				}

			}

			.discussion {
				@extend .selectable;
				list-style: none;
				background: #fff;
				margin: 0;
				padding:0;
				flex: 1;
				overflow-y: scroll;
				overflow-x: hidden;
				li {
					padding: 0.5rem;
					padding-top:0px;
					overflow: hidden;
					display: block;

				}
				.p-downloadable:hover{
					color:red;
					
				}
				.messages{
					//word-break: break-all;
					word-wrap: break-word;
				}
				.avatar {
					width: 38px; // stronger than %
					// could set height, but gonna bottom-align instead
					position: relative; // for triangle
					img {
						width:38px;
						height:38px;
						display: block; // triangle position
						width: 100%;
					}
				}
			}
			.p-chat-time{
				display: block;
				color: $p-color-dark-grey;
				font-weight: normal;
				float:left;
				font-size: 9pt;
				font-style: italic;
				text-transform: lowercase;
			}
			.file{
				display: block;
				font-weight: bold;
				word-break: break-all;
				word-wrap: break-word;
			}
			.status.inprogress {
					display: inline-block;
					width:20px;
					height:20px;
					background-image: url(../images/list-file-loading.gif);
					background-size:100%;
				}
			.status.done{
					display:none;
				}




	// .other {
	// 	.messages {
	// 		background: #fbf8f5;
	// 		margin-left: 16px;
	// 		&::after {
	// 			content: "";
	// 			position: absolute;
	// 			top: 22px;
	// 			left: 56px;
	// 			width: 0px;
	// 			height: 0px;
	// 			// border-top: 6px solid transparent;
	// 			// border-bottom: 6px solid transparent;
	// 			// border-right: 6px solid #FBF8F5;
	// 			}	
	// 		}
	// 	.avatar {
	// 		flex: 0 0 38px;
	// 		}
	// }

	.self {

		// justify-content: flex-end;
		// align-items: flex-end;
		.messages {
			font-family : "Arial" ;
			font-size : $p-font-normal-size !important;

			order: 1;
			color: $primary-color;
		}
			p {
				color: $primary-color;
			}
			.avatar {
				flex: 0 0 38px;
				order: 2;
				}
			&:after {
				content: "";
				position: absolute;
				top: 16px;
				right: 2px;
				width: 0; 
				height: 0; 
				// border-top: 6px solid transparent;
				// border-bottom: 6px solid transparent;
				// border-left: 6px solid #f26c4f;
			}
		.time {
			display : block ;
			padding : 0px ;
			margin : 0px ;
		}



	}

	.other {
		@extend .self ; 
	}

	.p-chat-sender {
		@extend .messages ;
		font-weight : normal;
		color : black !important;
		font-size : 9pt;
		display:block;


	}

	.p-message{
		border-radius:8px;
		background-color: rgba($p-color-contact, 0.3);
		color:black;
		float:left;
		padding:5px;
		max-width:100%;
	}

	.p-message-1{
		background-color: rgba($p-color-contact, 0.3) !important;
	}

	.p-message-2{
		background-color: rgba($p-color-contact, 0.53) !important;
	}

	.p-message-3{
		background-color: rgba($p-color-contact, 0.76) !important;
		color:white;
	}

	.p-message-4{
		background-color: rgba($p-color-contact, 1) !important;
		color:white;
	}


	.p-item-owner{
		background-color: rgba($p-color-place, 0.3);
		float:right;
		color:black;
	}
	// .messages {
	// 	font-size : $p-font-normal-size ;

	// 	text-overflow: ellipsis;
	// 	word-wrap: break-word;
	// 	// padding:5px;
	// 	// border-radius: 6px;
	// 	// width: 162px;
	// 	//box-shadow: 0 1px 2px rgba(black, 0.2);
	// 	p {
	// 		font-size : $p-font-normal-size ;
	// 		font-family : "Arial" ;
	// 	}
	// 	time {
	// 		font-size: 0.7rem;
	// 		color: #ccc;
	// 	}
	// }
	.conversation{
		font-size : $p-font-normal-size ;
		height:230px;
		display:flex;
		flex-direction: column;
		&.has-new-content {
			height : 270px ;
		}
	}
	
		// border: 1px solid #d0dbdd;
		// border-top: none;
	
	#new_post{
		margin:0;
		line-height:20px!important;
		resize:none !important;
		max-height:140px;
		border-radius:0px;
		border:0px;
		background-color:white;
		-webkit-box-shadow: none;
		box-shadow: none;
		overflow-y:auto;
		min-height: 40px;
		&[disabled]{
			background-color: $p-color-light-grey;
		}
	}
	.reply {
		border-top: 1px solid $p-color-dark-grey;
	}
	@keyframes pulse {
		from { opacity: 0; }
		to { opacity: 0.5; }
	}
}

.p-conversation-item{
	display:block;
	float:left;
}

.p-item-right{
	float:right;
	.p-chat-time{
		float:right;
	}
}

.conversation-box {
	left:auto;
	right:0;
	position:absolute;
	width:100%;
	background-clip:padding-box;
	direction:ltr;
	.dropOverlay {
		display: none;
		position: absolute;
		z-index: 12;
		width: 100%;
		height: 100%;
		padding: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,$overlay-opacity);
		.notif {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			width: 50%;
			height: 20px;
			margin: auto;
			color: white;
		}
	}
}
.conversation-div.fullScreen{
	.conversation-box {
		border:none;
		min-width: 330px;
		max-width: none;
		position:relative;
		left:auto;
		right:0;
		width:100%;
		background-clip:padding-box;
		direction:ltr;
		.conversation{
			overflow-y: auto;
			height:70vh;
		}
		.dropOverlay {
			display: none;
			position: absolute;
			z-index: 12;
			width: 100%;
			height: 100%;
			padding: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,$overlay-opacity);
			.notif {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				width: 50%;
				height: 20px;
				margin: auto;
				color: white;
			}
		}
		.new_post{
			bottom:0;
			position:relative;
			left:0;
			padding:auto;
			margin:10px;
			width:100%;
		}
	}
}
}
}
@-webkit-keyframes blink_content {
	0%{ 
		background : $p-color-grey ;
	}
	50%{ 
		background : $p-color-dark-grey ; 
	}
	100%{
		background : $p-color-grey ;
	}
}

