// 
// // Places, Copyright 2014 Ansamb.
// 
// This file is part of Places By Ansamb.
// 
// Places By Ansamb is free software: you can redistribute it and/or modify it
// under the terms of the Affero GNU General Public License as published by the
// Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
// 
// Places By Ansamb is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
// License for more details.
// 
// You should have received a copy of the Affero GNU General Public License
// along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

extends templates/empty_layout
block title
	|Places Language selection
block place-content

	div.p-single-content-container.p-form-main
		// Steping 
		div.row
			div.medium-6.medium-offset-3
				h2.p-form-step Step 1 <small>out of 5</small>
				div.p-form-title Language selection
				//- h2.p-form-step Étape 1 <small>sur 5</small>
				//- div.p-form-title Sélection de la langue

		// Language selection form
		div.row
			div.medium-4.medium-offset-3.columns.text-right(style="padding-top:15px;")
				p Choisissez votre langue :
			div.medium-2.end.columns.text-left
				a#fr_FR(href="/languages/fr_FR/")
					img(src="/images/flags-icons/fr_FR.png", height=50, width=50, style="opacity:0.8;", title="Français")
		div.row
			div.medium-4.medium-offset-3.columns.text-right(style="padding-top:15px;")
				p Choose your language :
			div.medium-2.end.columns.text-left
				a#en_US(href="/languages/en_US/")
					img(src="/images/flags-icons/en_US.png", height=50, width=50, style="opacity:0.8;", title="English")

				//- a(href="/register/?language=en_GB")
				//- 	img(src="/images/flags-icons/en_GB.png", height=50, width=50, style="opacity:0.8;")
				

				//each country, i in countries
					


		//- form.register(method='post')
		//- 	input(type="email",name='email',placeholder="Your email address",title='should be a valid email address',value=email,required)
		//- 	input(type='password',name='password',placeholder="Your password",required)
		//- 	div.row.collapse
		//- 		div.medium-4.columns.medium-offset-4
		//- 			input(class='p-button-round p-background-place p-button-padding',type="submit",value="log in")
		//- 		div.medium-4.columns
		//- 			//a.forget(href="#") I forget my password 
	script(type="text/javascript").
		window.requireNode = window.require;
		window.require = undefined;

	script(type="text/javascript",src="/js/application_init/require-config.js")
	//- script(type="text/javascript",src="/js/vendor/require.js",data-main="/js/application_init/languages.js")
