// 
// // Places, Copyright 2014 Ansamb.
// 
// This file is part of Places By Ansamb.
// 
// Places By Ansamb is free software: you can redistribute it and/or modify it
// under the terms of the Affero GNU General Public License as published by the
// Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
// 
// Places By Ansamb is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
// License for more details.
// 
// You should have received a copy of the Affero GNU General Public License
// along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

div.content
	h2 Ansamb User Licence Agreement
		
	h4 Preambule
	p Ansamb offers the freedom to share in a total privacy on the Internet. Freedom is a responsibility that you endorse in using the service.
	ol
		li You have the responsability to exchange contents that respect the law and do not physically or psychologically injure people in any possible manner.
		li You understand that Ansamb Cloud only deals with content that have been encrypted on your device, so we will never be able to restore a decrypted version of your content to anybody, neither you if you ask, nor any legal administration.
		li You understand that to acheminate your content, we need to know the users that you exchange with.
		li You understand that it’s your responsability to backup the encryption keys that are used to encrypt your content.
		li You understand that the service may be fragile during the beta test and may not be accessible in case of technical issues.
		li You understand that your access to the service may be suspended if ordered by a court or if you do not respect the present terms.



	h4 The Ansamb cloud service
	p.
		The cloud service proposed by Ansamb is dedicated to (i) short-term storage in case senders and recipients are not online at the same time or (ii) long-term storage for back-up need.
		You understand that all your contents and messages are encrypted on your device before they are processed by the Ansamb Cloud and that it’s technically totally impossible for Ansamb to get access to your content. Consequently, Ansamb will never be able to analyse your content. 

	h4 Privacy Policy
	p.
		Ansamb Cloud stores and routes encrypted content between you and your community.
		As the content is encrypted, Ansamb can not read it or exploit it in any commercial way.
		As Ansamb routes your content, we know the users that compose your community. We consider that this network is a knowledge of great value regarding your privacy.
		By consequence, we make a commitment to protect the privacy of this information in the best of our capacity. 	

	h4 Data recovery
	p Because your content is encrypted on your device before they are stored on the Ansamb Cloud, it’s your responsability to save the encryption key that is used to encrypt your content. You should save this encryption key on a separed device (or on a paper) in order to be able to decrypt the content that are stored or exchanged on the Ansamb Cloud.  

	h4 Appropriate usages
	p You agree to not storing or sharing content of any type that are forbiden by laws or that may  physically or psychologically injure people in any possible manner. More than that, you are invited to use Places and Ansamb to make the world a better place.  

	h4 Copyright
	p The act of creation must be respected. Ansamb respects the property of others and ask you to do the same. We don’t have any mean (i) to analyze the content you exchange or (ii) to identify specific content such as copyrighted content. It’s your responsability to exchange contents that respect the law as well as the rights of the owners or creators. 

	h4 Access to the service
	p As Ansamb cloud is still under beta-testing, it may still be fragile for some time. You understand that we will do our best to provide the best quality of service. Nevertheless, we reserve the right to suspend or end the services at any time at our discretion if needed. More, your access may be suspended if you're not complying with these present terms, or if you cause us a legal liability.

	h4 Services "AS IS"
	p We strive to provide great services, but there are certain things that we can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, ANSAMB MAKES NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. 

	h4 Limitation of Liability
	p TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL ANSAMB BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT ANSAMB HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO ANSAMB FOR THE PAST 12 MONTHS OF THE SERVICES IN QUESTION. 

	h4 Modifications
	p We may revise these Terms from time to time, and will always post the most current version on our website. You will be notify of these revisions before they come into effect. 	