@font-face {
font-family: 'EntypoRegular';
src: url('/font/entypo.eot');
src: url('/font/entypo.eot?#iefix') format('embedded-opentype'),
url('/font/entypo.woff') format('woff'),
url('/font/entypo.ttf') format('truetype'),
url('/font/entypo.svg#EntypoRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Places_font";
src:url('/font/placesFont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/font/pos/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('/font/pos/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'opensans';
    src: url('/font/pos/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/font/pos/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'opensans';
    src: url('/font/pos/OpenSans-Light.ttf') format('truetype');
	font-weight: lighter;
    font-style: normal;
}



#left-column{
/*	width: 20%;
	padding:20px;
	border: red 1px solid;
	display: inline-block;
	vertical-align: top;
*/}
#main{
/*	width: 60%;
	padding: 20px;
	border: blue 1px solid;
	display: inline-block;
	vertical-align: top;
*/}
#right-column{
	height: 100%;
/*	width: 20%;
	padding:20px;
	border: red 1px solid;
	display: inline-block;
	vertical-align: top;*/
}
li.selected a{
	/*color: red;*/
}
span.add-contact{
	/*padding-top: 5px;*/
}
span.add-contact > a{
	/*font-size: 38px;*/
	/*color: #B12C00;*/
}