<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="medium-6 columns" style='padding-right:0px;'>
    <dl>
        <dd>
            <div id='p-toolbar-title-container'>
                <div class='custom-dropdown'>
                    <div class='arrow-down'></div>
                </div>
                <div class='p-toolbar-custom-dropdown'>
                    <ul>
                        <li> Delete</li>
                        <li> Rename</li>
                    </ul>
                </div>
                <span id='p-toolbar-title'></span>
                <span class='p-tiny p-title-info'>
                    &nbsp
                    <span id="p-toolbar-owner"></span>
                    <span id='p-toolbar-date'></span>
                    <span id="p-toolbar-sync-date"></span>
                </span>
            </div>
        </dd>
    </dl>
</div>
<div class="medium-2 columns p-toolbar-action-buttons">
</div>
<div class='medium-4 columns' style='white-space: nowrap;padding:0px;'>
     <dl id='p-sub-nav' class='p-sub-nav'></dl>
 </div>
