<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="activityFeedContainer">
    <table class="p-contacts-table">
      <thead>
        <tr>
          <th class="p-contacts-firstname sorters" data-action="firstname">first name</th>
          <th class="p-contacts-lastname sorters" data-action="lastname">last name</th>
          <th class="p-contacts-uid sorters" data-action="aliases.alias">alias</th>
          <th class="p-contacts-status sorters" data-action="status">status</th>
          <th class="p-contacts-action sorters" data-action="action"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="p-contacts-options">
      <a class="wtrigger leave p-button-round p-background-grey p-button-padding p-smaller-text" data-action="leave">leave</a>
      <a class="wtrigger delete-contact p-button-round p-background-alert p-button-padding p-smaller-text" data-action="delete">delete this contact</a>
    </div>
</div>