<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<td class="firstname <%- selection ? 'selected' : '' %>"><%- firstname %></td>
<td class="lastname <%- selection ? 'selected' : ''%>"><%- lastname %></td>
<td class="alias <%- selection ? 'selected' : '' %>"><%- aliases.alias %></td>
<td class="status <%- status %> <%- selection ? 'selected' : '' %>"><%- status %></td>
<td class="p-action-column <%- selection ? 'selected' : '' %>">
	<!--
	<a><span class="trigger fi-x" data-action="delete"></span></a>
	-->
	<% if(status == "pending" || status == "later"){%>
		<span class="trigger fi-plus <%- selection ? 'selected' : '' %>" data-action="accept" title="accept"></span>
	<% }else if(status == "validated"){ %>
		<span class="trigger fi-x <%- selection ? 'selected' : '' %>" data-action="<%- selection ? 'cancel_delete' : 'confirm_delete' %>" title="delete"></span>
	<% } %>

</td>