<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
	<a class="p-button" id="ansamb_menu_add_contact" data-action="add">new contact</a>
</div>

<!-- <div class="p-button">new contact <span class="fi-torso"></span></div> -->

<!-- <a class="entypo" id="ansamb_menu_add_contact" data-action="add">&#59136;</a> -->


<!-- <ul id="contactsList" class="p-contact-list">
</ul>
 -->


<!-- <input class="contact_search" type="text" placeholder="Search contact"> -->

<!-- 
<ul class="button-group">
	<li><a class="button all_contacts selected">All</a></li>
	<li><a class="button in_place disable">In Place</a></li>
</ul>
 -->
<!-- <ul id="contacts-options" class="f-dropdown custom" data-dropdown-content="">
	<li><a id="ansamb_menu_add_contact" href="#" data-action="add">Add A Contact</a></li>
	<li><a id="ansamb_menu_manage_contacts" href="#" data-action="manage">Manage Contacts</a></li>
	<li><a id="ansamb_menu_contact_requests" href="#" data-action="requests">Contact Requests</a></li>
</ul>  -->
