<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->

<div class="medium-1 columns">
	<span class="p-avatar"><%- owner==null?'me!!!':owner %></span>
</div>
<div class="medium-11 columns" style="margin-top : -5px ;">
	<span class="name"><%- owner==null?'me':owner %></span> 
	<!-- added a new <%- content_type %> to Ansamb -->
 	- <span class="date"></span>

 	<div class="content"></div>


	<!-- </div> -->

	
<!-- 	
	<div class="file-stats">
		<span class="icons"><img src="/images/comments.png"> 2</span>
		<span class="icons"><img src="/images/likes.png"> 10</span>
		<span class="icons"><img src="/images/download.png"> 10</span>
	</div>
 -->	<!-- <ul class="activity-comments">
		<li><img class="avatar-feed" src="/images/april-small.png"><span class="name">Brad</span> It looks like you had a fun trip!</li>
		<li><img class="avatar-feed" src="/images/april-small.png"><span class="name">April</span> OMG I am in loooooove with these pics!!! Too perf &lt;3</li>
	</ul> -->
<!-- 	<div class="row">
		<div class="large-7 columns">
			<form>
				<input type="text" placeholder="Add A Reply"/>
			</form>
		</div>
	</div> -->
</div>
