<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->

 <!-- <div class="activityFeedContainer" style=""> -->
	<!-- <div class="main-section"> -->
	<!-- <div class="row"> -->
		<!-- <div class="medium-3 columns">&nbsp;</div> -->
	


	<div class="p-composer-container">
		<div id="p-place-detail-view-composer" style="margin-top : 0px ;"></div>

		<div class="p-post-dragndrop-container">
<!-- 			<div class="row collapse" style="margin-bottom : 12px ;">
 				<div class="p-post-dragndrop medium-12 columns text-center">
					<span>drag and drop your files here </span>
					<span class="fi-paperclip"></span>
				</div>
			</div>
				
 -->
			<div class="row collapse">
					<div class="medium-2 medium-offset-3 columns">
						<a class="p-button secondary tiny cancel">cancel</a>

					</div>
					<div class="medium-1 columns">&nbsp;</div>

					<div class="medium-2 columns end">
						<a class="p-button tiny post">post</a>
					</div>
			</div>
		</div>
	</div>
		<!-- <div id="p-place-detail-view-composer" class="medium-12 columns"></div> -->
		<!-- <div class="medium-3 columns">&nbsp;</div> -->

	<!-- </div> -->
	<div id="wall-container"></div>
	<!-- </div> -->
<!-- </div> -->

