<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<h1 style="text-align: justify;">Welcome to Places</h1>

<p style="text-align: justify;"><br>
This early beta is dedicated to the supporters of privacy on the Internet.&nbsp;<br>
<br>
<span style="line-height:1.6em">This version of Places has the basic features to share any kind of files and text messages. We will work hard to add more features over the next few weeks to make you feel easy and comfortable in your “business” place or “family” place. Soon, we will go on iOS with multiple device synchronisation… Privacy will go everywhere you go.&nbsp;</span><br>
<br>
Places is free during the beta. After the beta, we'll aim to get money from a paying private cloud storage service that stores your content in a fully encrypted version. We will let you know as soon as the plan gets more precise.&nbsp;<br>
<br>
Places is still a newborn. You should understand that <strong>we need you more as a tester than as a user</strong>.&nbsp;<span style="line-height:1.6em">To report a bug or contribute to the project, please contact <a href="mailto:feedback@ansamb.com?Subject=My%20feedback%20about%20Places">feedback@ansamb.com</a></span>

<p style="text-align: justify;">Spread the word around you with <strong><a id="link_twitter" href="https://twitter.com/PlacesByAnsamb">@PlacesByAnsamb</a></strong>&nbsp;<br></p>
<p style="text-align: right">
	Thank you for using Places&nbsp;<br>
	The team
</p>