<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="place-image header">
	<dl class="sub-nav">
		<dd>
			<ul class="button-group radius round">
				<a id="most_recent" class="tiny button">most recent</a>
				<a id="alpha" class="tiny button">alphabetical</a>
			</ul>
		</dd>
		<dd>
			<ul class="button-group radius round">
				<a id="list" class="tiny button">List</a>
				<a id="thumb" class="tiny button selected">Thumbnail</a>
			</ul>
		</dd>
		<dd>
			<ul class="button-group radius round">
				<a id="myplaces_filter" class="tiny button">My Places</a>
				<a id="otherplaces_filter" class="tiny button">Other Places</a>
			</ul>
		</dd>
	</dl>
</div>


<div class="activityFeedContainer">
<div class="main-section">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 placeView" >
	</ul>
</div>
</div>