<!--
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="activityFeedContainer">
    <table class="p-contacts-table">
      <thead>
        <tr>
          <th class="sorters" data-action="name">place name</th>
          <th class="sorters" data-action="owner_uid">owner</th>
          <th class="sorters" data-action="status">Status</th>
          <th>
            actions
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>