/*
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

*/
@import "posts";

li.self, li.other {
	font-size : $p-font-normal-size !important;
}

//- invisible element used right under the big "Settings" word in central column
.p-tiny {
	font-size : $p-font-tiny-size ;
	font-weight : normal ;
}

.p-dialog-form {
	width:90%;
	padding: 10px 0px 0px 10px;
	.add_btn{
		display: none;
	}
}

.contact-checkExists{
	.spinner{
		display: none;
	}
	.result{
		display: none;
	}
}

.p-dialog-result {

}


//- contains profile, contact and conversation buttons
.p-sub-nav {
 	@include sub-nav ;
 	vertical-align: middle;
	line-height: 40px;
	margin: 0;
	padding: 0;
	float: right;
	dd {
		margin : 0px ;
		font-size : $p-font-normal-size !important;

	    a{
	    	font-family : $p-font-family-menu;
	    	color : $secondary-color ;
	    	height:100%;
		    .p-border-color-contact{
				font-size: 14px;
				border-radius: 5px;
				padding: 0px 10px;
				&:hover {
					color: white;
					background: $p-color-contact;
					//font-weight: lighter;
				}
				&.active{
					background:transparent;
					color:$p-color-contact;
					cursor: default;
					&:hover{

					}
				}
			}
			.p-border-color-content{
				font-size: 14px;
				border-radius: 5px;
				padding: 0px 10px;
				&:hover {
					color: white;
					background: $p-color-content;
					//font-weight: lighter;
				}
    		}
    		&:hover{
    			background-color: white;
    			//border-bottom : 2px $p-color-grey solid ;
    			color: black;
    		}
	    }

	    &.active a {
	    	color : $primary-color ;
	     	font-weight : bold ;
	     	background-color:white;
	     	border-bottom : 2px $p-color-orange solid ;
	     	&:hover{
	     		background-color: white;
	     	}
	    }

	    &:hover{
	    	background-color:white;
	    	color:black;
	    }

	}

}



.sub-nav {

	dt.active a, dd.active a, li.active a {
		// background: #f26c4f;
		// color: #fff;
		// padding: 0.3rem 1.2rem;
		border-radius: 5px;
	}

	dt.active a:hover, dd.active a:hover, li.active a:hover {
		// background: #f26c4f;
		// border-bottom : $p-color-orange ;
		// font-weight : bold ;
	}

	dt a, dd a, li a {
		// color: #fff;
		// margin: 0;
		vertical-align: middle;
		line-height: 40px;
	}

	dt a:hover, dd a:hover, li a:hover {
		// color: #fefefe;
		border-bottom : $p-color-orange 2px solid ;
		// font-weight : bold ;

	}
}

#activityFeed{ // TODO RENAME into p-activity-feed
	height : calc(100% - 56px ) ;
	background-color: white;
	width : 100% ;
	overflow-y:auto;
	.activityFeed{
	}
}

//Place Toolbar
#p-place-title {
	width : 100% ;
	background-image:linear-gradient(white 80%, $p-color-background-light 100%);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 52px;
	.row{
		width : 100% ;
	}
	.p-setting-toolbar-title{
		color: $p-color-black;
	}
	#p-toolbar-title {
		z-index:20;
		position:relative;
		display:inline-block;
		max-width:85%;
		color : $p-color-place ;
		font-size : $p-font-title-size ;
		font-weight : $p-font-title-weight ;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 5px;
		.p-home-title{
			font-weight:normal !important;
		}
		#new_name{
			//border:none;
			//background:transparent;
		}
	}
	dl{
		margin:0;
		dd{
			margin:0;
			margin-right: 20px;
		}
	}
	#p-toolbar-title-container {
		position: relative;
		// content : "" ;
		width : 100% ;
		height : 100% ;
		display : inline-block ;
		padding-left: 10px;
		#p-toolbar-owner {
			color : $p-color-orange;
		}
		.custom-dropdown{
			position: relative;
			display:inline-block;
			left: 0px;
			top: -8px;
			padding-top: 7px;
			padding-left: 3px;
			width: 16px;
			height: 16px;
			border-radius: 10px;
			display: none;
			background-color:$p-color-background-dark;
			&.active{display: inline-block}
			&:hover{
				background-color:$p-color-place;
			}
		}

		.p-toolbar-custom-dropdown{
			position: absolute;
			top: 73%;
			width: 180px;
			margin-top: 10px;
			padding-top: 5px;
			left: 0px;
			background: white;
			display: none;
			z-index: 999;
			&:before{
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 8px 8px;
				border-color: transparent transparent white transparent;
				position: absolute;
				display: inline;
				margin-left: 10px;
				top: -8px;
			}
			&.open{
				display: block;
				box-shadow:#AAAAAA 0px 0px 10px;
			}
			ul{
				margin: 0;
				li{
					padding: 5px 10px;
					font-size: 14px;
					height: 30px;
					color: $p-color-place;
					&:hover{
						background-color: $p-color-place;
						color: white;
					}
				}
			}
		}
	}
	.p-toolbar-action-buttons{
		display:none;
		.p-toolbar-action-button{
			display:inline-block;
			cursor: pointer;
			div {
				height: 30px;
				width: 30px;
				margin: 5px;
			}
			.deleteAll {
				background: url("/images/deleteAll.svg") no-repeat center;
				background-position: 0px 0px;
				background-size: cover;
				&:hover{
					background-position: 0px -32px;
				}
			}
			.downloadAll {
				background: url("/images/downloadAll.svg") no-repeat center;
				background-position: 0px 0px;
				background-size: cover;
				&:hover{
					background-position: 0px -32px;
				}
			}
		}
	}
}

.p-title-info{
	left: 30px;
	position: absolute;
	bottom: 0;
	display: inline-block;
	padding-left:5px;
}
.place-title {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	&.yellow {
	background-color: #f2a74f;
	}

	&.teal {
	background-color: #84beb8;
	}

	&.red {
	background-color: #f26c4f;
	}

	&.blue {
	background-color: #84b2be;
	}
}

#p-main-column {
	height : 100% ;
	width: calc( 100% - 440px );
	border-radius: 8px;
	padding-left: 0;
	padding-right: 0;
	&.p-transparent-column{
		opacity: 0.5;
	}
	&.p-transparent{
		opacity: 0.5;
	}
}


.p-single-content-page {
	// width : 100% ;
	clear : both ;
}
//account
.p-account-info {
	font-family:"opensans";
	span{
		color: $p-color-dark-grey;
	}
	.p-aliases-list{
		margin-top: 10px;
		margin-left: 20px;
		.label{
			width: auto;
			display: inline;
			color: white;
			background-color: $p-color-dark-grey;
		} 
		span{
			margin-left: 10px;
			font-size: 14px;
			color:black;
		}
		li{
			margin-bottom:4px;
		}
	}
}
//

#invited{
	width:80%;
	padding-bottom:10px;
}

.invited-item{
	color:black;
	font-size:0.9em;
	position: relative;
	border-bottom: solid 1px transparent;
	line-height: 30px;
	&:hover{
		.p-invite-button{
			@extend .p-background-contact;
		}
		border-bottom: solid 1px $p-color-contact;

	}
	.p-invite-button{
			@extend .p-background-grey;
		}
	.pending-satus{
		position:absolute;
		right:0;
		display:inline-block;
		color:grey;
		padding: 0px 25px;
	}
}

.progress .meter {
  background: $p-color-place !important;
}

.p-wait{
	margin-top:100px;
	margin-bottom:20px;

}


//- /!\---------------
//-
//- Potentially unused
//-
//- ---------------/-\
