/*
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

*/
#conferenceRegion{
	background-color:white;
	width:100%;
	height:100%;
	color:black;
	border-style:solid;
	border-width:0px;
	border-top-width:3px;
	border-radius: 8px;
	text-align:center;
	border-color:$p-color-blue;
	padding:10px;
}

.conference-view {
	text-align: center;
	.info {
		display:block;
		padding: 10px;
	}
	.speakers {
		background-color: $p-color-background-light;
		display:inline-block;
		.speaker {
			float: left;
			margin: 25px;
			video {
				box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
				&.self{-webkit-transform: scale(-1, 1);}
			}
			.name {
				position: absolute;
				margin-left:-56px;
			}
		}
	}
}

.inputs {
	padding: 10px;
	button {
		padding-top: 0;
		padding-bottom: 0;
		border-radius: 15px;
		outline:none;
		background-color: #00cea0;
		-webkit-app-region: no-drag;
		&:focus {
			color: black;
		} 
		&:hover {
			box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
		}
		&.hangup {
			background-color: #b1b1b1;
			&:hover {background-color: #e73e47;}
		}
		span:hover {
			background: none;
		}
		&.inactive { opacity:0.3 }
	}
}