/*
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

*/
$overlay-opacity:0.8;
.dropOverlay {
	display: none;
	position: absolute;
	z-index: 12;
	width: 100%;
	height: 100%;
	padding: auto;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	box-shadow: 0px 0px 12px black !important;
	//background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	.notif {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		width: 50%;
		height: 20px;
		margin: auto;
		color: white;
	}
}

$p-shadow-size: 10px;

.p-dropOverlay {
	-webkit-transition: ease 0.2s;
	background: white !important;

	&.conversation-div{
		box-shadow: 0px 0px $p-shadow-size $p-color-contact;
	}
	&.conversation-div-inner{
		box-shadow: 0px 0px $p-shadow-size $p-color-contact;

		>.conversation-div{
			box-shadow: 0px 0px $p-shadow-size $p-color-contact;
		}
	}
	&#p-main-column{
		box-shadow: 0px 0px $p-shadow-size $p-color-content;
	}

	&.p-file-overlay{
		box-shadow: 0px 0px $p-shadow-size $p-color-content !important;
	}
	.p-contact-list-item{
		box-shadow: 0px 0px $p-shadow-size $p-color-contact;
	}
	.p-place-item{
		box-shadow: 0px 0px $p-shadow-size rgba($p-color-place, 0.5);
	}

	&.p-contact-overlay{
		box-shadow: 0px 0px $p-shadow-size $p-color-contact !important;
	}
}

.ui-state-disabled{
	opacity:1!important;
}

.p-dropHover{
	background: white;
	min-height:30px;
	font-size:0.8em;
	color: black;
	text-decoration:bold;
	border-style: solid;
	border-width: 1px;
	border-color: $p-color-grey;
	box-shadow: 1px 1px 8px rgba(black, 0.3);
	/* margin used in complement of 
	   the draggable's containment option
	   to prevent it to move outside the main frame
	   of the page */ 
	margin:0px;
	padding:10px;
	vertical-align: middle;
	max-width:200px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	
}
