/*
	Places, Copyright 2014 Ansamb.
	
	This file is part of Places By Ansamb.
	
	Places By Ansamb is free software: you can redistribute it and/or modify it
	under the terms of the Affero GNU General Public License as published by the
	Free Software Foundation, either version 3 of the License, or (at your
	option) any later version.
	
	Places By Ansamb is distributed in the hope that it will be useful, but
	WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the Affero GNU General Public
	License for more details.
	
	You should have received a copy of the Affero GNU General Public License
	along with Places By Ansamb. If not, see <http://www.gnu.org/licenses/>.

*/
.p-ansambers-count{
	&:hover{
		//color:black;
	}
	.ansambers_count{
		&:hover{
			//color:black;
		}
	}
}

.f-dropdown{
	border:none !important;
	&::before{
		border:none !important;
	}
	&::after{
		border:none !important;
	}
}
.p-toolbar-dropdown{
	&.open{
		right: 20px;
		left:0;
		top:-2px;
	}
	max-width:none;
	width: 340px !important;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 9px -1px;
	.p-ansambers-dropdown-menu{
		&::before{
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent white transparent;
			position: absolute;
			display: inline;
			margin-left: 10px;
			top: -8px;
			right: 60px;
		}
		top:-2px;
		position: relative;
		margin:0;
		width: 100%;
		min-height: 100px;
		.tt-hint{
			top: 0px !important; 
		}
		.twitter-typeahead{
			position: absolute !important;
			height: 35px;
			width: 100%;
			display:block !important;
		}
		#p-member-dropdown-searchinput{
			::-webkit-input-placeholder{
				color:$p-color-contact;
			}
			color: black;
			margin:0;
			width:100%;
			border: none;
			border-bottom: solid 1px $p-color-grey;
			padding: 0 0 0 5px;
			height: 100%;
		}
		.p-dropdown-ansamber-container{
			margin:0;
			padding-top: 35px;
			width:100%;
			max-height: 250px;
			overflow-y: auto;
			.p-dropdown-ansamber-item{
				width:100%;
				margin:0;
				padding: 5px 20px;
				font-size: 14px;
				height: 30px;
				&:hover{
					background: $p-color-contact;
					span{
						color: white !important;
					}
					.p-ansambers-dropdown-delete{
						visibility:visible !important;
					}
				}
				.p-ansambers-dropdown-delete{
					visibility:hidden;
				}
				.ansamber-firstname{
					font-size: 14px;
					color: black;
				}
				.ansamber-lastname{
					font-size: 14px;
					color: black;
				}
				.ansamber-uid{
					color: black;
				}
				.p-ansamber-status{
					font-size: 14px;
				}
			}
		}
		.p-add-ansamber{
			text-decoration: none;
			font-size:12px;
			line-height: 20px;
			position: absolute;
			color: white;
			background-color:$p-color-contact;
			border-radius:8px;
			height:20px;
			right: 10px;
			display:none;

			padding-left:10px;
			padding-right:10px;
			margin-top:2px;

			&:hover{
				box-shadow: inset 0px 0px 5px #111111
			}
		}
	}
}
